* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #8d99ae;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {

}

.btn {
    margin: 20px 0px;
    color: white;
    background-color: #ff0054;
    padding: 6px 10px;
    border: 2px solid white;
    font-weight: 700;
    border-radius: 5px;
    
}

.btn:hover {
    color: #ff0054;
    background-color: white;
    border: 2px solid #ff0054;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #2b2d42;
    color: white;
    padding: 20px 0px;
}

@media screen and (max-width: 400px) {
    
    nav ul li a {
        display: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 10px
    }
}

@media screen and (max-width: 300px) {
    body {
        display: none;
    }
}

@media screen and (max-height: 550px) {
    body {
        display: none;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f6280;
}

/*
#box1 {
    background-color: red;
}

#box2 {
    background-color: green;
}

#box3 {
    background-color: yellow;
}

#box3 {
    background-color: blue;
}

#box4 {
    background-color: orange;
}

#box5 {
    background-color: greenyellow;
}

#box6 {
    background-color: yellowgreen;
}

#box7 {
    background-color: blue;
}

#box8 {
    background-color: yellow;
}

#box9 {
    background-color: red;
}
*/

main {
    /* background-color: white; */
    color: #0d03de;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main p {
    padding: 20px 0px;
    font-size: 20px;
}

.board {
    display: grid;
    /* background-color: black; */
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    justify-content: center;
    align-items: center;

}

footer {
    background-color: #2b2d42;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

footer p{
    color: white;
}

footer ul {    
    display: flex;
    justify-content: space-around;
    gap: 20px;
}